{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    // "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    //error with "es2021": true
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-no-bind": [
      "warn",
      {
        "ignoreRefs": true
      }
    ],
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "max-len": [2, { "code": 120, "ignoreComments": true }],
    "newline-per-chained-call": 0,
    "no-trailing-spaces": ["error"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "comma-dangle": ["error", "never"],
    "no-template-curly-in-string": "off",
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "quote-props": ["error", "consistent"],
    "no-var": ["error"],
    "indent": "off"
  }
}
